SECRET_KEY=django-insecure-troque-esta-chave
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Use sqlite3 para desenvolvimento local simples.
DB_ENGINE=sqlite3
DB_NAME=db.sqlite3

# Para PostgreSQL/Aiven, use:
# DB_ENGINE=postgresql
# DB_NAME=nome_do_banco
# DB_USER=usuario_aiven
# DB_PASSWORD=senha_aiven
# DB_HOST=host-do-servico.aivencloud.com
# DB_PORT=12345
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_SSLMODE=require
DB_SSLROOTCERT=

# Em Aiven, DB_SSLMODE=require costuma ser suficiente.
# Para validar certificado, use verify-ca ou verify-full e informe DB_SSLROOTCERT.
